[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "vim/pack/community/start/vim-airline"]
	path = vim/pack/community/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/community/start/vim-airline-themes"]
	path = vim/pack/community/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/community/start/syntastic"]
	path = vim/pack/community/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/pack/community/start/palenight.vim"]
	path = vim/pack/community/start/palenight.vim
	url = https://github.com/drewtempelmeyer/palenight.vim.git
